* { box-sizing: border-box; }
body {
    background-color: #9a7414;
    color: #666666;
    font-family: Arial, Verdana, sans-serif;
    margin: 0;
}

main {
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 2em;
    padding-bottom: 3em;
    display: block;
}

header { 
    background-color: #000000;
    background-image: url(rubberduck.png);
    background-repeat: no-repeat;
    background-size: contain;
    color: #FFFFFF;
    font-family: Georgia, sans-serif;
    padding: 1em;
}

header a { text-decoration: none; }
header a:link { color: #FFFFFF; }
header a:visited { color: #FFFFFF; }
header a:hover { color: #ffd362; }

h1 { 
    text-align: center;
    text-shadow: 1px 1px 1px #533f0b;
    font-size: 1.5em;
}

h2 { 
    text-align: center;
    color: #d29f1e;
    text-shadow: .5px .5px .5px #533f0b;
    font-family: Georgia, serif;
    padding-bottom: 1em;
}

h3 {
    font-family: Georgia, serif;
}

nav { 
    text-align: center;
    background-color: #FFFFFF;
    font-size: 1.2em;
}

nav a:link { color: #5C7FA3; }
nav a:visited { color: #344873; }
nav a:hover { color: #9a7414; }

nav ul { 
    text-decoration: none;
    padding-left: 0;
    list-style-type: none;
    flex-direction: column;
    margin: 0;
}

nav li {
    padding-bottom: .5em;
    padding-top: .5em;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    border-bottom: 1px solid;
}

nav a {
    text-decoration: none;
}

dt { 
    color: #002171;
    font-weight: bold; 
}

.resort { 
    color: #d29f1e;
    font-size: 1.2em; 
}

footer { 
    text-align: center;
    font-size: .70em;
    font-style: italic;
    padding: 1em;
    background-color: #FFFFFF;
}

section {
    padding-left: .5em;
    padding-right: .5em;
    padding-bottom: 1em;
}
section h3 {
    text-align: center;
}

#mobile {
    display: inline;
}

#desktop{
    display: none;
}

#wrapper {
    background-color: #FFFFFF;
}

#flow {
    display: flex;
    flex-direction: column;
}

#homehero {
    background: url(binarybackground.webp) no-repeat;
    background-size: 200% 100%;
    height: 300px;
}
#competitionhero {
    background: url(magnifycode.webp) no-repeat;
    background-size: 100% 100%;
    height: 300px;
}
#reghero {
    background: url(coding.png) no-repeat;
    background-size: 100% 100%;
    height: 300px;
}

table {
    margin: auto;
    border-style: solid;
    border-width: 1px;
    border-color: #d29f1e;
    width: 90%;
    border-collapse: collapse;
}
td, th {
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #533f0b;
}
td {
    text-align: center;
}
.text {
    text-align: left;
}
tr:nth-of-type(even) {
    background-color: #faf6d7;
}

input, textarea {
    margin-bottom: .5em;
}

form { 
    display: flex;
    flex-direction: column;
    padding-left: 1em; 
    width: 80%;
}

/* Medium Display */
@media (min-width: 600px) {
    h1 {
        font-size: 2em;
        letter-spacing: .25em;
    }
    h2 {
        text-align: left;
    }
    nav li {
        width: 12em;
        border-bottom: none;
    }
    nav ul {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        padding-right: 2em;
    }
    section {
        padding-left: 2em;
        padding-right: 2em;
    }
    section h3 {
        text-align: left;
    }
    
    #mobile {
        display: none;
    }
    #desktop {
        display: inline;
    }
    #homehero {
        background-size: 100% 100%;
    }

    form {
        display: grid;
        grid-gap: 1em;
        grid-template-columns: 10em 1fr;
        width: 60%;
    }
    input[type="submit"] {
        grid-column: 2/3;
        width: 9em;
    }
}

/* Large Display */
@media (min-width: 1024px) {
    nav {
        float: none;
    }
    nav ul {
        padding-right: 10%;
        padding-left: 7%;
    }
    #wrapper {
        width: 80%;
        margin: auto;
        max-width: 1200px;
        box-shadow: 5px 5px 5px #533f0b;
    }
    #flow {
        flex-direction: row;
        justify-content: space-between;
    }
    body {
        background-image: linear-gradient(to top, #ffd362, #9a7414);
        background-repeat: no-repeat;
    }
    main {
        margin: auto;
        background-color: #FFFFFF;
        overflow: auto;
    }
}