body {
    background-color: #90C7E3;
    background-image: linear-gradient(to bottom, #FFFFFF, #90C7E3);
    background-repeat: no-repeat;
    color: #666666;
    font-family: Arial, Verdana, sans-serif;
}

header { 
    background-color: #002171;
    color: #FFFFFF;
    font-family: Georgia, serif;
    background-image: url(sunset.jpg);
    background-position: right;
    background-repeat: no-repeat;
    height: 72px;
}

h1 { 
    text-align: center; 
    padding-top: .5em;
}

h2 { 
    color: #1976D2;
    font-family: Georgia, serif;
}

h3 {
    font-family: Georgia, serif;
}

nav { 
    font-weight: bold;
    text-align: center;
    padding: .5em;
}
nav a {
    text-decoration: none;
}

main {
    padding-left: 2em;
    padding-right: 2em;
}

dt { 
    color: #002171;
    font-weight: bold; 
}

.resort { 
    color: #1976D2;
    font-size: 1.2em; 
}

footer { 
    text-align: center;
    font-size: .70em;
    font-style: italic;
    padding: 1em;
}

#wrapper {
    background-color: #FFFFFF;
    min-width: 960px;
    max-width: 2048px;
    box-shadow: 5px 5px 5px #000000;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

#homehero {
    height: 300px;
    background: url(coast.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#yurthero {
    height: 300px;
    background: url(yurt.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#trailhero {
    height: 300px;
    background: url(trail.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}