* { box-sizing: border-box; }
body {
    background-color: #EAEAEA;
    color: #666666;
    font-family: Arial, Verdana, sans-serif;
}

main {
    padding-left: 2em;
    padding-right: 2em;
    display: block;
    background-color: #FFFFFF;
    margin-left: 170px;
    overflow: auto;
}

header { 
    background-color: #002171;
    color: #FFFFFF;
    font-family: Georgia, sans-serif;
    height: 120px;
}

header a { text-decoration: none; }
header a:link { color: #FFFFFF; }
header a:visited { color: #FFFFFF; }
header a:hover { color: #90C7E3; }

h1 { 
    text-align: center;
    padding-top: .5em;
    font-size: 3em;
    letter-spacing: 0.25em;
}
h2 { 
    color: #1976D2;
    font-family: Georgia, serif;
}
h3 {
    font-family: Georgia, serif;
}

nav { 
    font-weight: bold;
    padding: 0;
    float: left;
    width: 160px;
    position: fixed;
    font-size: 1.2em;
}

nav a:link { color: #5C7FA3; }
nav a:visited { color: #344873; }
nav a:hover { color: #A52A2A; }

nav ul { 
    text-decoration: none;
    padding-left: 1em;
    list-style-type: none;
}

nav a {
    text-decoration: none;
}

dt { 
    color: #002171;
    font-weight: bold; 
}

.resort { 
    color: #1976D2;
    font-size: 1.2em; 
}

footer { 
    text-align: center;
    font-size: .70em;
    font-style: italic;
    padding: 1em;
    background-color: #FFFFFF;
    margin-left: 170px;
}

section {
    float: left;
    width: 33%;
    padding-left: 2em;
    padding-right: 2em;
}

#wrapper {
    background-color: #90C7E3;
    background-image: linear-gradient(to bottom, #FFFFFF, #90C7E3);
    background-repeat: no-repeat;
    min-width: 960px;
    max-width: 2048px;
    box-shadow: 5px 5px 5px #000000;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}
#homehero {
    background: url(coast.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 300px;
    margin-left: 170px;
}
#yurthero {
    background: url(yurt.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 300px;
    margin-left: 170px;
}
#trailhero {
    background: url(trail.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 300px;
    margin-left: 170px;
}